body {
  font-family: "Inter", Arial, sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.sidebar-active {
  background-color: rgba(211, 228, 254, 0.1);
  border-left: 4px solid #6ffbbe;
  color: #ffffff;
  font-weight: 700;
}

.drawer-transition {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-blur-custom {
  backdrop-filter: blur(8px);
}

#durum-mesaji:empty {
  display: none;
}

tbody tr {
  border-bottom: 1px solid #e2e8f0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c5c6cd;
  border-radius: 10px;
}
